.definition{
    font-family: sans-serif;
    font-size: 2vh;
}
.definition{
    margin-left: 5vh; 
}
.sentence{
    font-size: small;
    opacity:.8;
    text-transform: capitalize;
    margin-left: 7vh;
}
