.phonetic-page{
    display: flex;
}
.phoneticPage{
    margin-right: 2vh;
    display: flex;
}
p{
    margin:0;
    padding: 0;
}
.pipe{
    margin-left: 1vh;
}
@media only screen and (min-width: 500px){
    .phoneticPage{
        margin-left: 5vh;
    } 
}
@media only screen and (min-width: 950px){
    .phoneticPage{
      margin-left: 15vh;
    }
  }


