.synonymPage{
    display: flex; 
    flex-wrap: wrap;   
}
.synonym{
    margin: .5vh;
    font-size: small;
    padding:.2vh;
    border-radius: .5vh;
    box-shadow: 0 0 0 .1px grey;
    flex-wrap: nowrap;
    opacity: .9;
}
.synonymTitle{
    font-size: 2vh;
    opacity: .9;
}